header{
    position: relative;
    padding: 0.8em;
    border-radius: 0 0 15px 15px;
    z-index: 10;
    text-align: center;
    font-size: 10px;
    background: #ec6f60;
    color: #fff;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
    text-shadow: 15px 0 10px rgba(0, 0, 0, 0.5);
}

.container{
    max-width: 380px;
    display: block;
    overflow: hidden;
}

body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: black;
    background: linear-gradient(to bottom, #e3e3e3 90%, var(--tg-theme-bg-color) 95%);
    overflow: auto;
}


body, body * {
    user-select: none;
    -webkit-user-select: none;
    context-menu: none;
    -webkit-context-menu: none;
    touch-action: manipulation;
}
